* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
}

.Navigationbar {
    display: flex;
    height: 15vh;
    align-items: center;
    border-bottom: 2px solid grey;
    justify-content: space-between;
    overflow:hidden;
}
.mainimage {
    height: 20%;
    width: auto;
    margin: 5px;
    margin-left: 20px;
}
.name {
    display: flex;
    justify-content: center;
    align-items: center;
}
.namename {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name h4 {
    color: #9E2B2B;
    margin-bottom: -5px;
    font-size: 20px;
}
.name h5 {
    font-size: 20px;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'IBM Plex Mono', monospace;
    margin-bottom: -5px;
}
.username{
    margin-right:20px;
    margin-left:50px;
}
.userthings{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
}
.userthings h5 {
    color: #9E2B2B;
    margin-bottom: -5px;
    font-size: 20px;
}
.userthings h6 {
    margin-bottom: -5px;
    font-size: 20px;
}
.userthings h5:hover {
    color:black;

}
.username{

}